/* CSS files add styling rules to your content */

body {
  font-family: roboto;
  margin: 2em;
}

h1 {
  color: #575757;
  font-weight: bold;
  font-size: 36.5px;
}

h2 {
  color: black;
  font-weight: bold;
  font-size: 24px;
}

h3 {
  color: blue;
  font-weight: bold;
  font-size: 15px;
  margin-top: 2.5%;
}

h4 {
  color: black;
  font-weight: bold;
  font-size: 23.5px;
  margin-bottom: 2%;
  margin-top: 0.6%;
}

h5 {
  color: black;
  font-weight: bold;
  font-size: 23.5px;
  margin-bottom: 2%;
  margin-top: 0.6%;
}

h6 {
  color: black;
  font-weight: bold;
  font-size: 23.5px;
  margin-bottom: 2%;
  margin-top: 0.6%;
}



.logo {
  text-align: center;
  background: orange;
}

.navbar {
  margin-left: 15%;
  background: grey;
  text-align: center;
  width: 70%;
}

.search {
  position: absolute;
  right: 13%;
  color: #575757;
}

.navnoicon {
  color: #575757;
  margin: 22px;
  text-decoration: none;
}

.firstbox {
  display:flex;
  margin-left: 8.0%;
  width: 84%;
  height: 865px;
  background: #7BF36E;
  text-align:left;
 
}

.firstbox:hover {
   box-shadow:0px 2px 2px #B6B6B6;
}

.firstinside {
  margin-left: 2%;
}

p1 {
  font-size: 21px;
  color:#575757
}

p2 {
  font-size: 17px;
  color:#575757;
}

p3 {
  color:#575757;
}

p4 {
  color: #575757;
  font-size: 16px;
}

p5 {
  color: #575757;
    font-size: 16px;
}

p6 {
  color: #575757;
    font-size: 16px;
}

p7 {
  color: #575757;
    font-size: 16px;
}

p8 {
  color: #575757;
    font-size: 16px;
  margin-left: 6%;
}

hr {
  width: 81%;
  margin-left: auto;
  margin-right: auto;
  border-width: 3px;
  background-color: blue;
}

.secondbox {
  margin-left: auto;
  margin-right: auto;
  width: 82%;
  background-color: red;
  display: flex;
  flex-direction: row;
  
}

.secondtop {
    margin-left: auto;
  margin-right: auto;
    width: 82%;
display: flex;
justify-content: space-between;
  background-color: orange;
}

.secondleftbox {
  width:48%;
  background-color: yellow;
}

.secondleftbox:hover {
   box-shadow:0px 2px 2px #B6B6B6;
}

.secondrightbox {
  background-color: orange;
  width: 44.8%;
  margin-left: 5%;
}

.shadedboxcontainer1 {
  background-color: #F1F3F4;
  text-align: left;
  height: 15%;
}

.newsletter {
  color: blue;
    margin-left: 6%;
  font-size: 16px;
}

.newsletterimg {
margin-left: 80%;
  margin-top: -30%;
  display: inline-block;
}